<h1 class="page-title">{{ title }}</h1>

<div class="content">
	{{{ content }}}
</div>

{{# each media }}
	<div class="partial">
		<h3><a href="/media/{{ slug }}">{{ title }}</a></h3>
		{{{ note }}}
	</div>
{{/each}}
